/* style for project archive */

body {
    background-color: #F0F0FF;
    color: #404040;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-size: 28px;
    line-height: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

a:link {
    color: #404040;
    text-decoration:none;
}

a:visited {
    color: #404040;
    text-decoration:none;
}

a:hover {
    color: #404040;
    opacity: 0.6;
}

#menu {
    display: none;
}

#drop_down {
    position: relative;
    left: 5%;
    left: calc(50% - 75px);
    width: 150px;
    line-height: 35px;
    text-align: center;
}

#menu_mobile {
    float: right;
    width: 30px;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
}

#t1 {
    padding-top: 10px;
}

#l1 {
    float: left;
    background-color: black;
    height: 2px;
    width: 100%;
    border-top: solid #eeeeee;
    border-width: 7px;
    margin-bottom: 14px;
}

#p1 {
    width: 90%;
    padding-left: 5%;
    padding-top: 14px;
    padding-bottom: 10px;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */

}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .m1 {
        width: 135px;
        float: right;
        text-align: center;
        padding-top: 10px;
    }

    #menu {
      display: block;
      position: relative;
    }

    #menu_mobile {
        display: none;
    }

    #drop_down {
      display: none;
    }

    #t1 {
        float: left;
        width: 325px;
        padding-top: 10px;
    }

}

@media only screen and (orientation: landscape) {
    /* For landscape orientation */

}
